---
layout: default.hbs
name: Tech Tip
theme: tech-tip
subject: Tech Tip EDM
header-image: tech-tip-header.jpg
preheader: OAPL Tech Tip
---

<!--======================= {{ name }} -->
<tr>
	<td class="main">
		<table>
			<tr class="row half">
				<td class="column half"></td>
				<td></td>
				<td class="column half"></td>
			</tr>
			<tr>
				<td class="column half"></td>
				<td>
					<table class="auto-align">
						<tr>
							<td width="250">
								<img editable label='Hero image' src="//placehold.it/250x230" width="250" alt="hero alt text" />
							</td>
							<td class="column"></td>
							<td>
								<table>
									<tr class="headline">
										<td>
											<h1><singleline label="Headline">HEADLINE</singleline></h1>
										</td>
									</tr>
									<tr class="row">
										<td></td>
									</tr>
									<tr class="subheading">
										<td>
											<h2><singleline label="Subheading">TAGLINE</singleline></h2>
										</td>
									</tr>
									<tr class="row">
										<td></td>
									</tr>
									<tr class="description">
										<td><multiline label="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut orci non justo tempus consectetur. Sed scelerisque elit in massa feugiat, a imperdiet metus finibus. Vestibulum congue cursus augue, in interdum nunc tristique vel. Vivamus ultricies, metus eu aliquet pulvinar, augue dui volutpat elit, a tincidunt odio sem luctus odio. Pellentesque ornare tristique sagittis.</multiline></td>
									</tr>
									<tr class="row">
										<td></td>
									</tr>
									<tr class="cta">
										<td><span class="button"><singleline label="Call to Action">Find out more</singleline></span></td>
									</tr>
									<tr class="row">
										<td></td>
									</tr>
									<tr class="disclamier">
										<td><singleline label="Call to Action">Offer valid till 15/4/15</singleline></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
				<td class="column half"></td>
			</tr>
			<tr class="row half">
				<td class="column half"></td>
				<td></td>
				<td class="column half"></td>
			</tr>
		</table>
	</td>
</tr>
<repeater>
<tr class="row half">
	<td></td>
</tr>
<tr>
	<td>
		<table class="product-tile auto-align">
			<tr>
				<td width="210">
					<img editable class="product-hero" label='Hero image' src="//placehold.it/210x240" width="210" alt="hero alt text" />
				</td>
				<td class="column"></td>
				<td>
					<table>
						<tr class="row half">
							<td></td>
						</tr>
						<tr>
							<td><h2 class="heading"><singleline label="Product name">Product name</singleline></h2></td>
						</tr>
						<tr class="row half">
							<td></td>
						</tr>
						<tr class="line">
							<td></td>
						</tr>
						<tr class="row half">
							<td></td>
						</tr>
						<tr class="description">
							<td><multiline label="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut orci non justo tempus consectetur. Sed scelerisque elit in massa feugiat, a imperdiet metus finibus. Nam ac suscipit arcu. Ut hendrerit vitae enim at venenatis.</multiline></td>
						</tr>
						<tr class="row half">
							<td></td>
						</tr>
						<tr class="link">
							<td><singleline label="Product link">Learn more</singleline></td>
						</tr>
						<tr class="row half">
							<td></td>
						</tr>
					</table>
				</td>
				<td class="column"></td>
			</tr>
		</table>
	</td>
</tr>
</repeater>

<!--======================= END {{ name }} -->
